.btn-full-width {
    width: 100%;
}

.join-input {
	margin-top: 1em;
}

.score {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	padding: 1em;
	background-color: yellow;
}

.playerName {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	padding: 1em;
	background-color: red;
}

#volume-control {
	width: 50%;
	float: left;
}

label {
	float: left;
}